<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js"></script>
    <title>Add/Edit Country</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand ml-3">ScoreTable</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#" th:href="@{/}">Countries<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Leagues
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <div class="dropdown-item" th:each="league : ${leagues}">
                        <a class="nav-link" th:href="@{/league/{name} (name = ${league.getName()})}" th:text="${league.getName()}">League Name</a>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-item">
                        <a class="nav-link" href="#" th:href="@{/leagues}">All Leagues</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/teams}">Teams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/players}">Players</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/games}">Games</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/goals}">Goals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>

        </ul>
    </div>
</nav>

<div class="container my-5">
    <h3>Add/Edit Country</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/createCountry}" th:object="${country}" method="post">
                    <div class="row">

                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Country Name</label>
                            <input type="text" th:field="*{name}" class="form-control" id="name" th:placeholder="${country.getName()}" required/>
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary my-3" value=" Submit">
                        </div>

                        <input type="hidden" id="id" th:field="*{id}">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>