<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Score Table</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<body>



<table>
    <tr>
        <td>Country</td>
        <td th:colspan="${maxNumOfLeagues}">Leagues</td>
    </tr>
    <tr th:each="country : ${countries}">
        <td th:text="${country.getName()}">Test</td>
        <td th:each="league : ${country.getLeagues()}">
            <p th:text="${league.getName()}"></p>
        </td>
    </tr>
</table>

</body>
</html>