<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Score Table</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<body>


<section>
    <h1>GOALS</h1>

    <a><button>Add new Goal</button></a>

    <table>
        <thead>
            <tr>
                <td>PLAYER_NAME</td>
                <td>FOR_TEAM</td>
                <td>ON_MATCH</td>
                <td>RESULT</td>
                <td>DATE</td>
            </tr>
        </thead>

        <tr th:each="goal : ${goals}">
            <td th:text="${goal.getPlayer().getName()}">TEAM</td>
            <td th:text="${goal.getPlayer().getTeam().getName()}">TEAM</td>
            <td th:text="${goal.getGame().getTeams()}">TEAM</td>
            <td th:text="${goal.getGame().getResult()}">TEAM</td>
            <td th:text="${goal.getGame().getDate()}">TEAM</td>
            <td>
                <a><button>EDIT</button></a>
            </td>
            <td>
                <a><button>DELETE</button></a>
            </td>
        </tr>
    </table>
</section>


</body>
</html>