<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Score Table</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<body>


<section>
    <h1>MATCHES</h1>

    <a><button>Add new Match</button></a>

    <table>
        <thead>
            <tr>
                <td>HOME_TEAM</td>
                <td>AWAY_TEAM</td>
                <td>SCORE</td>
                <td>DATE</td>
            </tr>
        </thead>

        <tr th:each="match : ${matches}">
            <td th:text="${match.getHomeTeamName()}">TEAM</td>
            <td th:text="${match.getAwayTeamName()}">TEAM</td>
            <td th:text="${match.getScore()}">TEAM</td>
            <td th:text="${match.getDate()}">TEAM</td>
            <td>
                <a><button>EDIT</button></a>
            </td>
            <td>
                <a><button>DELETE</button></a>
            </td>
        </tr>
    </table>
</section>


</body>
</html>