<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Score Table</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<body>


<section>
    <h1>PLAYERS</h1>

    <a><button>Add new Player</button></a>

    <table>
        <thead>
            <tr>
                <td>PLAYER_NAME</td>
                <td>TEAM_NAME</td>
                <td>LEAGUE_NAME</td>
            </tr>
        </thead>

        <tr th:each="player : ${players}">
            <td th:text="${player.getName()}">Test</td>
            <td th:text="${player.getTeam().getName()}">Test</td>
            <td th:text="${player.getTeam().getLeague().getName()}">Test</td>
            <td>
                <a><button>EDIT</button></a>
            </td>
            <td>
                <a><button>DELETE</button></a>
            </td>
        </tr>
    </table>
</section>


</body>
</html>