<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Score Table</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<body>

    <table>
        <tr>
            <td>TEAM</td>
            <td>P</td>
            <td>GF</td>
            <td>GA</td>
            <td>GD</td>
            <td>PTS</td>
        </tr>
        <tr th:each="row : ${table}">
            <td th:text="${row.getTeamName()}">TEAM</td>
            <td th:text="${row.getPlayed()}">P</td>
            <td th:text="${row.getGoalsFor()}">GF</td>
            <td th:text="${row.getGoalsAgainst()}">GA</td>
            <td th:text="${row.getGoalsGoalDifference()}">GD</td>
            <td th:text="${row.getPoints()}">PTS</td>
        </tr>

    </table>

</body>
</html>