<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js"></script>
    <title>Score Table</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand ml-3">ScoreTable</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/}">Countries<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Leagues
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <div class="dropdown-item" th:each="league : ${leagues}">
                        <a class="nav-link" th:href="@{/league/{name} (name = ${league.getName()})}" th:text="${league.getName()}">League Name</a>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-item">
                        <a class="nav-link" href="#" th:href="@{/leagues}">All Leagues</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/teams}">Teams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/players}">Players</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/games}">Games</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/goals}">Goals</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container my-2">
    <div class="card">
        <div class="card-body col-md-10 mx-auto text-center">
            <a class="btn btn-primary" role="button" href="#teams">Teams</a>
            <a class="btn btn-primary" role="button" href="#table">Table</a>
            <a class="btn btn-primary" role="button" href="#matches">Matches</a>
            <a class="btn btn-primary" role="button" href="#topscorers">Top Scorers</a>
            <a class="btn btn-primary" role="button" href="#goaldiff">Largest Goal Difference</a>
        </div>
    </div>
</div>

<div class="container my-2">
    <div class="card" id="teams">
        <div class="card-body">
            <div class="container">
                <div class="col-md-10 mx-auto">

                    <h2 class="card-title my-5">Teams</h2>
                    <table class="table table-striped table-responsive-md">
                        <thead>
                            <tr>
                                <td>Team Name</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="team : ${teams}">
                                <td th:text="${team.getName()}">Test</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card" id="table">
        <div class="card-body">
            <div class="container my-5">
                <div class="col-md-10 mx-auto">
                    <h2 class="card-title my-5">League Table</h2>
                    <table class="table table-striped table-responsive-md">
                        <thead>
                            <tr>
                                <td>Team</td>
                                <td>Played</td>
                                <td>Goals For</td>
                                <td>Goals Against</td>
                                <td>Goal Difference</td>
                                <td>Points</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="row : ${results}">
                                <td th:text="${row.getTeamName()}">TEAM</td>
                                <td th:text="${row.getPlayed()}">P</td>
                                <td th:text="${row.getGoalsFor()}">GF</td>
                                <td th:text="${row.getGoalsAgainst()}">GA</td>
                                <td th:text="${row.getGoalsGoalDifference()}">GD</td>
                                <td th:text="${row.getPoints()}">PTS</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card" id="matches">
        <div class="card-body">
            <div class="container my-5">
                <div class="col-md-10 mx-auto">
                    <h2 class="card-title my-5">Matches Played</h2>
                    <table class="table table-striped table-responsive-md">
                        <thead>
                            <tr>
                                <td>Home Team</td>
                                <td>Away Team</td>
                                <td>Score</td>
                                <td>Played On</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="row : ${matches}">
                                <td th:text="${row.getHomeTeamName()}">TEAM</td>
                                <td th:text="${row.getAwayTeamName()}">TEAM</td>
                                <td th:text="${row.getScore()}">TEAM</td>
                                <td th:text="${row.getDate()}">TEAM</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card" id="topscorers">
        <div class="card-body">
            <div class="container my-5">
                <div class="col-md-10 mx-auto">
                    <h2 class="card-title my-5">Top Scorers</h2>
                    <table class="table table-striped table-responsive-md">
                        <thead>
                            <tr>
                                <td>Player Name</td>
                                <td>Team Name</td>
                                <td>Goals Scored</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="row : ${scorers}">
                                <td th:text="${row.getPlayerName()}">TEAM</td>
                                <td th:text="${row.getTeamName()}">TEAM</td>
                                <td th:text="${row.getNumGoals()}">TEAM</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card" id="goaldiff">
        <div class="card-body">
            <div class="container my-5">
                <div class="col-md-10 mx-auto">
                    <h2 class="card-title my-5">Largest Goal Difference Matches</h2>
                    <table class="table table-striped table-responsive-md">
                        <thead>
                            <tr>
                                <td>Home Team</td>
                                <td>Away Team</td>
                                <td>Score</td>
                                <td>Difference</td>
                                <td>Played On</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="row : ${goalDiffs}">
                                <td th:text="${row.getHomeTeamName()}">TEAM</td>
                                <td th:text="${row.getAwayTeamName()}">TEAM</td>
                                <td th:text="${row.getScore()}">TEAM</td>
                                <td th:text="${row.getDifference()}">TEAM</td>
                                <td th:text="${row.getDate()}">TEAM</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>